:root {
  --primary-color: #5d2a97;
  --primary-color-hover: #6d0c6d;
  --secondary-color: #8d168d;
  --text-color: #300652;
  --background-color1: #faebfa;
  --background-color2: #e1d6fc;
  --background-degrade1: linear-gradient(to right, #ff66b2, #a64dff, #66b3ff);
  --background-degrade2: linear-gradient(to right, #faebfa, #cbbcf0, #a8c5e2);

}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
    src: url(../assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
    src: url(../assets/fonts/Poppins-Italic.ttf) format('truetype');
    src: url(../assets/fonts/Poppins-Light.ttf) format('truetype');
    src: url(../assets/fonts/Poppins-Medium.ttf) format('truetype');
    src: url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Sevillana';
    src: url(../assets/fonts/Sevillana-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 2rem !important;
    color: var(--text-color);
}

h2 {
    font-family: 'Sevillana', sans-serif !important;
    font-size: 3rem !important;
    color: var(--text-color) !important;
}

/* Container padrão para centralizar conteúdo */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */
.navbar-div {
    display: flex;
    justify-content: center;
}
nav{
    /* background-color: var(--background-color1); */
    font-size: 1rem !important;
    position: absolute !important; /* Faz a navbar ficar fixa na tela */
    top: 0; /* Posiciona a navbar no topo */
    left: 0; /* Alinha a navbar à esquerda */
    width: 100%; /* Largura total da tela */
    z-index: 1000; /* Garante que a navbar fique sobre outros elementos */
    background-color: rgba(0, 0, 0, 0); /* Cor de fundo com opacidade, ajuste conforme necessário */
}

nav a {
    color: var(--text-color) !important;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    width: auto;
    height: 80vh;
    background: var(--background-degrade1); /* Degradê rosa, roxo e azul */
/*     background: url('../assets/images/hero.jpg') no-repeat center center/cover;*/    color: #620f72;
    text-align: center;
    padding: 5rem 0;
    padding-top: 70px; /* Ajuste o padding para corresponder à altura da navbar */
}

.hero__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero__subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.button__agendar {
    background-color: var(--primary-color);
    color: var(--background-color2);
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 5px;
    border-style: none;
}

.hero__cta:hover {
    background-color: var(--primary-color-hover);
}

/* Seções Gerais */
 .section__title {
    margin-bottom: 1.5rem;
    text-align: center;
}
/*
.section__description {
    text-align: center;
    margin-bottom: 3rem;
} */

/* Sobre Nós */
.sobre-nos {
    font-size: 1rem;
    padding: 3rem 0;
    height: auto;
    background-color: var(--background-color1);
}

/* Conheça Nossos Colaboradores */
.colaboradores{
    padding: 3rem 0;
}
.colaboradores__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.colaboradores__item {
    flex: 1 1 calc(50% - 20px); /* Cada card ocupa 50% da largura com margem */
    max-width: 18rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-size: 1rem;
}

.card-body {
    text-align: center;
}

.colaboradores__list img {
    width: 100%;
    height: auto;
}


/* Localização */
.localizacao {
    padding: 3rem 0;
    background: var(--background-degrade2);
    display: flex;
    justify-content: center;
}

.container_localizacao{
    display: flex;
    flex-direction: column;
}

.localizacao p {
    font-size: 1rem;
    padding: 20px;
}

.section__localizacao {
    border-radius: 8px;
}

/* Preço */
.preco {
    display: flex;
    justify-content: center;
}

.container_preco {
    width: 50%;
    padding: 3rem 0;
    color: var(--text-color) !important;
}

.preco-card{
    margin: 1rem 0;
}

.container_preco .text-center{
    border-color: var(--primary-color);
}

.container_preco .card-header{
    font-size: 1.25rem;
    color: var(--text-color) !important;
    background: var(--background-degrade2) !important;
    border-color: var(--primary-color);
}

.container_preco .card-footer{
    font-size: 1.25rem;
    color: var(--text-color) !important;
    background: var(--background-degrade2) !important;
    border-color: var(--primary-color);
}

.container_preco p{
    font-size: 1rem;
}

.container_preco .button__agendar{
    font-size: 1rem;
}

/* Vertente */
.vertente{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    background: var(--background-degrade2);
}
.container_vertente{
    width: 70%;
}
.container_vertente p {
    font-size: 1rem;
}
.container_vertente .card-body{
    color: var(--text-color);
}


/* Agende uma Aula */
.agendar {
    padding: 3rem 0;
}

.agendar__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
}

.agendar__label {
    font-size: 1rem;
    color: #333;
}

.agendar__input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.agendar__button {
    background-color: #28a745;
    color: #fff;
    padding: 0.75rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.agendar__button:hover {
    background-color: #218838;
}

.agendar .container{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social-card{
    text-align: center;
    padding: 3rem 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.social-icons img{
    display: flex;
    flex-direction: row;
    width: 35px;
    cursor: pointer;
    padding: 0 0.2rem;
}
.social-icons {
    width: auto;
    display: flex;
    flex-direction: row;
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer__text {
    font-size: 0.875rem;
}